html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("./background-images/pens-paper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#overlayTag {
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 1;
}

/* ---------------------------------------------- Nav --------------------------------------------- */

.navC .card {
    margin: 5px;
    text-align: center;
    opacity: 0.8;
    width: 20%;
}

/* ------------------------------------------------- Main body ------------------------------------- */

.mainBody .card p {
    display: inline-block;
    margin-left: 5px;
    text-decoration: underline;
}

.mainBody .card button.btn.btn-danger, .card h3 {
    margin-top: 30px;
}

.mainBody .card button.btn.btn-danger {
    margin-top: 50px;
}

.mainBody .card button.btn.btn-dark {
    margin-top: 10px;
}

.mainBody .card {
    width: 30%;
    min-width: 180px;
    margin: auto;
    padding-top: 40px;
    border: 0px;
    /* min-height: 100%; */
    /* background-image: url("./white-paper1.jpg"); */
    background-size: cover;
    background-color: transparent;
}

#userTitle {
    text-decoration: underline;
}

#updateFormCard {
    margin: 2px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    border: none;
    color: black;
    background-color: black;
    height: 2px;
    margin-bottom: 0;
    margin-top: 20px;
}

#modalDelete {
    margin-top: 0;
}