html {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url("./background-images/desk-brown.jpg");
    height: 100%;
    background-size: cover;
    /* background-position: center;
    background-repeat: no-repeat; */
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* text-align: center; */
    /* margin: auto; */
    /* width: 30%; */
}

.container input {
    display: block;
    /* margin: auto; */
    margin-bottom: 10px;
}

.headerC {
    text-align: center;
    margin-bottom: 20px;
    color: #F4C724;
}

.navC {
    width: 90%;
    text-align: center;
    text-decoration: underline;
}

.card {
    box-shadow: 4px 4px #777E8B;
    /* box-shadow: 3px 3px 5px 6px #ccc; */
    opacity: 0.85;
}

.card h3 {
    text-decoration: underline;
}

.btn.btn-dark {
    color: #F4C724;
}

h1 {
    padding-top: 50px;
}